@using DRRealState.Core.Application.ViewModel.User

@model List<UserViewModel>


@{
    ViewData["Title"] = "Agent";
}

<div class="container-fluid">
 <div class="row ms-3 mt-3">
        <div class="col-xl-3 col-sm-6">
            <div class="card rounded rounded-1 shadow shadow-1">
                <div class="card-header bg-custom text-white text-center">Filter</div>
                <div class="card-body">
                    <form class="w-100" asp-action="SearchAgentByName" asp-controller="Home">
                        <h5 class="card-title">Filter By Name: </h5>
                        <input type="text" class="form-control" name="Name" id="Name">
                        <button class="btn btn-block text-white wh-50">Search</button>
                    </form>
                    </div>
                    </div>
        </div>
                    @if(Model.Count==0 || Model == null ){

                <div class="col-6 justify-content-center text-center">

                    <h1>No Agent(s) actually.</h1>

                </div>
            }
        @foreach(UserViewModel account in Model){ 
        <div class="col-xl-3">
             <div class="card d-flex justify-content-center align-items-center " style="width: 18rem;">
                <div class="circular--portrait border border-success">
                    <img src="@(account.PhotoUrl==null?"../../Images/user.png":account.PhotoUrl)" />
                  </div>
            <div class="card-body">
              <a asp-action="Details" asp-controller="Agent" asp-route-id="@account.Id" class="card-title h5">@account.FirstName @account.LastName</a>
            </div>
          </div>
          
        </div>
}
    </div>
</div>

