@{
    ViewData["Title"] = "Home Page";
}
        <div class="row">
            <div class="property-item col-lg-4 col-md-6 col-12 mb-40 p-5">
                <div class="property-inner">
                    <div class="image">
                        <span class="label">Feature</span>
                        <a href="single-properties.html"><img src="https://htmldemo.net/khonike/khonike/assets/images/property/property-2.jpg" alt=""></a>
                        <ul class="property-feature">
                            <li>
                                <span class="area"><i class="fa-solid fa-house"></i> 550 M<sup>2</sup></span>
                            </li>
                            <li>
                                <span class="bed"><i class="fa-solid fa-bed"></i> 6</span>
                            </li>
                            <li>
                                <span class="bath"><i class="fa-solid fa-bath"></i> 4</span>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="content">
                        <div class="left">
                            <h3 class="title"><a href="single-properties.html">APARTAMENTO</a></h3>
                            <span class="location"><i class="fa-solid fa-clipboard-list"></i>&nbsp;&nbsp;Code: 100078</span>
                            <span class="location"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;450 E 1st Ave, New Jersey</span>
                        </div>
                        <div class="right">
                            <div class="type-wrap">
                                <span class="price">RD$2,000,550</span>
                                <span class="type">ALQUILER</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="property-item col-lg-4 col-md-6 col-12 mb-40 p-5">
                    <div class="property-inner">
                        <div class="image">
                            <span class="label">Feature</span>
                            <a href="single-properties.html"><img src="https://htmldemo.net/khonike/khonike/assets/images/property/property-2.jpg" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><i class="fa-solid fa-house"></i> 550 M<sup>2</sup></span>
                                </li>
                                <li>
                                    <span class="bed"><i class="fa-solid fa-bed"></i> 6</span>
                                </li>
                                <li>
                                    <span class="bath"><i class="fa-solid fa-bath"></i> 4</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="single-properties.html">APARTAMENTO</a></h3>
                                <span class="location"><i class="fa-solid fa-clipboard-list"></i>&nbsp;&nbsp;Code: 100078</span>
                                <span class="location"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;450 E 1st Ave, New Jersey</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">RD$2,000,550</span>
                                    <span class="type">ALQUILER</span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
</div>