@{
    @using DRRealState.Core.Application.ViewModel.User
    @model SaveUserViewModel
    ViewData["Title"] = $"Delete Agent {Model.Name}";
}

<div class="row mt-3">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-white text-center">
                <h4 class="text-white">Are you sure that you want delete @Model.Name @Model.LastName?</h4>
            </div>
            <div class="card-body">
                <span class="card-text">If you delete this agent all associated property will be delete</span>
                <form method="post" asp-controller="Agent" asp-action="Delete">

                    <input type="hidden" asp-for="Id" />
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-controller="Agent" asp-action="List" class="btn btn-warning">Cancel</a>
                    </div>
                  

                </form>

            </div>
        </div>
    </div>

</div>