@using DRRealState.Core.Application.ViewModel.User

@model SaveUserViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="row d-flex justify-content-center mt-3">
    <div class="col-md-2">
        <h6>Actual Profile Photo:</h6>
        <img src="@Model.PhotoURL"/>
    </div>
    <div class="col-md-4">
        <div class="card card-border">
            <div class="card-body">
                <h5 class="card-title">My Profile</h5>
             <form asp-action="Profile" asp-controller="Agent" enctype="multipart/form-data">
                 <div class="row">
                     <input type="hidden" asp-for="Id"/>
                     <input type="hidden" asp-for="PhotoURL"/>
                     <div class="col-6">
                         <label asp-for="Name"></label>
                         <input asp-for="Name" class="form-control" required/>
                     </div>
                     <div class="col-6">
                         <label asp-for="LastName"></label>
                         <input asp-for="LastName" class="form-control" required/>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-6">
                         <label asp-for="Phone"></label>
                         <input asp-for="Phone" class="form-control" required/>
                     </div>
                     <div class="col-6">
                         <label asp-for="Photo"></label>
                         <input asp-for="Photo" class="form-control"/>
                     </div>
                 </div>
                 <div class="d-flex justify-content-around">
                 <button type="submit" class="btn bg-custom">Update</button>
                 <a asp-action="Index" asp-controller="Agent" class="btn btn-danger">Cancel</a>
                 </div>
             </form>
            </div>
        </div>
    </div>
</div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.mask.min.js"></script>
<script>
    $(document).ready(() => {

        $("#Phone").mask("+1 000 000 0000");

    });

</script>