@{
    @using DRRealState.Core.Application.ViewModel.Estate
    @model SaveEstateViewModel
    ViewData["Title"] = $"Delete Estate in {Model.Ubication}";
}

<div class="row mt-3">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-white text-center">
                <h4 class="text-white">Are you sure that you want delete this estate in @Model.Ubication?</h4>
            </div>
            <div class="card-body">
                <span class="card-text">If you delete this estate the people we have this in favorite will be lose this information.</span>
                <form method="post" asp-controller="Estate" asp-action="Delete">

                    <input type="hidden" asp-for="Id" />
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-controller="Estate" asp-action="MyProperty" class="btn btn-warning">Cancel</a>
                    </div>
                  

                </form>

            </div>
        </div>
    </div>

</div>