@model string
@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card shadow-sm">
                    <div class="card-header bg-custom text-white text-center fs-4">Confirm Email</div>
            <div class="card-body">
                    <h3>@Model</h3>
                    <a class="btn btn-primary" asp-controller="User" asp-action="Login"> Sign in</a>

            </div>
        </div>
    </div>
</div>
